*.json
*.sqlite
*.suo
*.db
*.opendb
*.ipch
BattleShip/Debug/vc141.pdb
BattleShip/Debug/vc141.idb
BattleShip/Debug/submarine.obj
BattleShip/Debug/stdafx.obj
BattleShip/Debug/destroyer.obj
BattleShip/Debug/cruiser.obj
BattleShip/Debug/carrier.obj
BattleShip/Debug/board.obj
BattleShip/Debug/battleship.obj
BattleShip/Debug/BattleShip.tlog/link.write.1.tlog
BattleShip/Debug/BattleShip.tlog/CL.write.1.tlog
BattleShip/Debug/BattleShip.tlog/CL.read.1.tlog
BattleShip/Debug/BattleShip.tlog/CL.command.1.tlog
BattleShip/Debug/BattleShip.log
BattleShip/Debug/BattleShip.Build.CppClean.log
BattleShip/BattleShip.vcxproj.filters
BattleShip/BattleShip.vcxproj
BattleShip/Debug/ship.obj
BattleShip/Debug/main.obj
BattleShip/Debug/location.obj
BattleShip/Debug/game.obj
BattleShip/Debug/BattleShip.tlog/link.read.1.tlog
BattleShip/Debug/BattleShip.tlog/link.command.1.tlog
BattleShip/Debug/BattleShip.tlog/BattleShip.lastbuildstate
